<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="" class="brand">
        <img src="assets/logo.png" alt=""><strong>DucTruong</strong>
      </a>
    </div>

    <div class="collapse navbar-collapse" [class.collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="about">About</a></li>
        <li routerLinkActive="active"><a routerLink="portfolio">Portfolio</a></li>
      </ul>
    </div>
  </div>
</nav>