<header>
  <div class="container">
    <figure class="animated fadeInDown delay-04s">
    	<img src="assets/logo.png" class="hidden-xs" alt="DucTruong">
  	</figure>
    <h1 class="animated fadeInDown delay-06s">Welcome To The <span [@visibilityChanged]="isVisible">{{fancyText}}</span> World</h1>
    <hr class="animated fadeInUp delay-08s">
  	<p class="animated fadeInUp delay-07s">Hi there, I'm glad that you get to here! My name is <strong>Duc Truong</strong>. 
  	I'm originally from HoChiMinh city, Vietnam. <span class="hidden-xxs">I graduated from University of Houston - Downtown marjored in Computer Science.</span></p>
  	<p class="animated fadeInUp delay-1s">My hobby is watching science videos, coding and spending time with my family. <span class="hidden-xxs">My dream is to understand
  	ALL AND EVERYTHING about the computer world. I believe everything is made better with million lines of 1 and 0.</span></p>
    <a routerLink="/about" class="link animated fadeInUp delay-1s servicelink">Get to Know Me Better</a>
  </div>
</header>